* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: 20px auto;
    position: relative;

}

.outer-col {
    position: fixed;
    right: 5px;
    bottom: -399px;
    width: 24%;
    background-color: white;
}

.nav-tab {
    background-color: #1397a3e8;
    color: white;
}
.btn-cntnr {
    text-align: left;
}
.btn-cntnr [type="submit"]{
    background: #1874a5;
    border: #3189B7;
    margin-top: 15px;

}
.title-line{
display: flex;
white-space: nowrap;
align-items: center;
gap: 8px;
}
.title-line:after{
content: '';
width: 100%;
display: block;
height: 1px;
background-color: #1874a5;
}
/* .nav-tab:hover{
    background-color: #1397a3e8 !important;
    color: whi;
} */

.nav-tab-active {
    background-color: #445660;
}

.heading {
    float: left;
    width: 100%;
    background: #1397a3e8;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    font-family: arial;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.form-col {
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    padding: 10px;
    border: 1px solid #999;
}

.form-col input,
textarea {
    float: left;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 10px;
}


.form-col button {
    float: left;
    border-radius: 5px;
    background: #50bef4;
    color: #fff;
    font-size: 16px;
    font-family: arial;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.card_row {
    display: flex;
    flex-direction: row;

}

.card {
    max-width: 62%;
    width: 62%;
    padding-bottom: 30px;

}



#wpfooter {
    display: none;
}

.frame_for_button {
    text-align: center;
    padding-top: 1.5em;
}

.buttons_style {
    min-width: 30%;
    width: fit-content;
    min-height: 37px;
    border-radius: 8px;
    color: #fff;
    background-color: #445660;
    cursor: pointer;
}

.get_attr_button {
    margin-left: 35%;
}

.contactUsButton {
    background-color: #445660 !important;
    margin-left: 35%;
    cursor: pointer;
}

.note {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #a5ecf154;
    border: solid 1px #1397a3e8;
    border-radius: 6px;
    line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 12px;
    /* color: white; */
}

.errornote {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f0f7fb;
    border: solid 1px #d351486e;
    border-radius: 6px;
    line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 12px;
}

.disabledOption {
    background-color: gainsboro !important;

}


.oauth_remove_button{
    /* background-color:#1397a3e8 !important; */
    background-color: #cd0707 !important;
    min-height: 1.6rem;
    min-width: 4rem;
    color: white !important;
    border-radius: 0.3rem;
}

.copy {
    background-color: #445660;
    color: #fff;
    border: none;
    width: 100%;
    height: 25px;
    border-radius: 0.2em;
    cursor: pointer;
}

.copyButton {
    width: 3rem;
    margin-left: 1rem;
    border-radius: 0.3em;
    
}

.signin_url {
    border: 1px solid #ABB;
    min-height: 40px;
    padding: 7px 10px 5px;
    /* border-radius: 0.3rem; */
    display: inline-flex;
    background-color: #ccc;
    justify-content: center;
    text-align: center;
}

.notethick {
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 12px;

}
#save-status{

}
.server_config_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    box-sizing: border-box;
    border-spacing: 10rem !important;
}

.server_config_table td {

    border-collapse: collapse;
    padding-top: .2em;
    padding-bottom: .3em;
}



input[type=button], input[type=submit] {
    cursor: pointer;
}

.saveSettingButton {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.5rem;
}

#color {
    background-color: #1397a3e8;
    color: #445660;
}

.oc-copy-to-clipboard {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.oc-copy-to-clipboard:after {
	content: '\f217';
	font-family: dashicons;
}
.oc-copy-to-clipboard.oc-copied:after {
	content: '\f12a';
}
